<style>.pre-image {
  width: 50%;
  margin-bottom: 10px;
}

.pre-image img {
  width: 100%;
  heigth: 100%;
}

.btn-group {
  width: 100%;
  margin: 20px 0 50px 0;
}

.btn-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-left: 5%;
}

.btn-box .btn {
  width: 100%;
  background: #66afe9;
  color: #ffffff;
  font-size: 24px;
}</style> <navmenu></navmenu> <breadcrumbs></breadcrumbs> <div class="col-md-11 right-side right-box" style="margin-top: 50px"> <form class="form-horizontal col-md-12" ng-submit="updatePassword(user.id)"> <div class="form-group　upload-image"> <label for="password" class="col-md-1 control-label">密码：</label> <div class="col-md-11"> <input type="text" class="form-control" ng-model="user.password" id="name" required> </div> </div> <div class="btn-group"> <div class="btn-box"> <button type="submit" class="btn btn-lg btn-save">更新</button> </div> </div> </form> </div>