<h1>添加文章</h1>
<form ng-submit="addPost()" class="form-horizontal col-md-12">
  <div class="form-group">
    <label for="title" class="col-md-2 control-label">标题</label>
    <div class="col-md-10">
      <input type="text" ng-model="post.title" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="col-md-2 control-label">作者</label>
    <div class="col-md-10">
      <input type="text" ng-model="post.author" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label for="summary" class="col-md-2 control-label">摘要</label>
    <div class="col-md-10">
      <input type="text" ng-model="post.summary" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label for="image" class="col-md-2 control-label">图片</label>
    <div class="col-md-10">
      <input type="file" ng-model="post.img">
      <p class="help-block">请上传图片</p>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-md-2 control-label">内容</label>
    <div class="col-md-10">
      <tabset justified="true">
        <tab heading="ueditor">
          <textarea ueditor ng-model="post.content"></textarea>
        </tab>
        <tab heading="markdown">
          <textarea class="form-control" ng-model="post.markdown"></textarea>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <label ng-click="isCollapsed = !isCollapsed">
        <span ng-class="{true: 'glyphicon glyphicon-chevron-down', false: 'glyphicon glyphicon-chevron-up'}[isCollapsed]"></span> 高级设置</label>
      <div collapse="isCollapsed">
        <div>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="post.is_recommend" value=""> 推荐
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="post.can_comment" value=""> 允许评论
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="post.is_published" value=""> 推荐
          </label>
        </div>
        <div>
          <p class="help-block">Tag标签</p>
          <tags-input ng-model="tags">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group col-md-12 col-md-offset-6">
    <button type="submit" class="btn btn-lg btn-default">提交</button>
  </div>
</form>
<script src="/vendor/ueditor/ueditor.config.js"></script>
<script src="/vendor/ueditor/ueditor.all.js"></script>
