<style>
.container {
  background-color: #272d33;
}
.right-box {
  float: right;
}
.right-side {
  background-color: #fff;
}
.table-responsive {
  min-height: 538px;
}
.right-side .well {
  margin: 0 -15px;
  border-radius: 0;
}
.right-side .well ul li {
  display: inline-block;
}
.pull-left {
  width: auto;
}
</style>
<div class="col-md-11 right-side right-box">
  <div class="well well-sm">
    <ol class="breadcrumb">
      <li class="pull-left"><a href="#">Home</a></li>
      <li class="pull-left"><a href="#">Library</a></li>
      <li class="active pull-left">添加文章</li>
    </ol>
  </div>
</div>
