
<div class="header hidden-xs">
  <div class="header-logo">
    <img src="/images/logo.png">
  </div>
  <div class="header-nav">
    <div class="nav-blog">
      <a ng-href="/#/posts">BLOG</a>
    </div>
    <div class="nav-picture">
      <a>PHOTO</a>
    </div>
  </div>
  <div class="nav-search">
    <input type="text" placeholder="SEACH" ng-model="keyword" ng-enter="search()">
    <a ng-href="/#/search/posts?keyword={{keyword}}"><img src="/images/search-ico.png"></a>
  </div>
</div>

<div class="main-posts">
  <div class="main-post">
    <ul>
      <li ng-repeat="p in posts">
        <div class="main-post-title"><a href="/#/posts/{{p.id}}">{{p.title}}</a></div>
        <div class="main-post-inf">
          <img src="/images/post-ico.png">
        </div>
      </li>
    </ul>
  </div>
  <div class="main-post-pic-box hidden-xs">
    <div>
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="main-company-box hidden-xs">
    <div class="main-two-code-pic">
      <img src="/images/two-code.jpg">
    </div>
    <div class="main-company-inf">
      <p><a>学壹传媒有限公司</a></p>
      <p><a>联系电话</a></p>
      <p><a>微信</a></p>
      <p><a>邮箱</a></p>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>
