<div class="posts-head hidden-xs">
  <div class="posts-logo">
    <img src="images/logo.png">
  </div>
  <div class="posts-blog">
    <a>BLOG</a>
  </div>
  <div class="posts-photo">
    <a>PHOTO</a>
  </div>
  <div class="posts-search">
    <div>
      <input type="text" placeholder="SEACH">
      <a><img src="/images/search-ico.png"></a>
    </div>
  </div>
</div>
<div class="posts-box">
  <div class="posts">
    <div class="post-item" ng-repeat="p in posts">
      <div class="post-title">
        <span>{{p.title}}</span>
      </div>
      <div class="post-text">
        <div class="post-inf">
          <p>{{p.content}}</P>
        </div>
        <div class="post-picture">
          <div class="post-picture-box">
            <img class="image" ng-src="{{p.img.url}}">
          </div>
          <span>{{p.publish_time.substr(0,10)}}</span>
          <img src="/images/post-ico.png">
          <span>(<span>500</span>)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="company-box">
    <div class="company">
      <img src="images/two-code.jpg">
      <p><a>学壹传媒有限公司</a></p>
      <p><a>联系电话</a></p>
      <p><a>微信</a></p>
      <p><a>邮箱</a></p>
    </div>
  </div>
</div>
<div class="posts-pagination">
  <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
<div class="scorll-box">
  <a ng-click="scrollTop()"><img src="/images/scroll-top.png"></a>
</div>
