<ng-include src="'views/header.html'"></ng-include>
<div class="search-message" ng-hide=messageMark>
  <span>没有搜到相关文章</span>
</div>
<div class="search-posts-box" ng-show=messageMark>
  <div class="posts">
    <div class="post-item" ng-repeat="p in posts">
      <a ng-href="posts/{{p.id}}">
        <div class="post-title-ba">
          <div class="post-title"><span>{{p.title}}</span></div>
        </div>
        <div class="post-text">
          <div class="post-inf">
            <p ng-bind-html="p.content">{{p.content}}</P>
          </div>
          <div class="post-picture">
            <div class="post-picture-box">
              <img class="image" ng-src="{{p.img}}">
            </div>
            <span>{{p.publish_time.substr(0,10)}}</span>
            <img src="/images/post-ico.png">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<ng-include src="'views/footer.html'"></ng-include>
