<div class="posts-head hidden-xs">
  <div class="posts-logo">
    <img src="images/logo.png">
  </div>
  <div class="posts-blog">
    <a>BLOG</a>
  </div>
  <div class="posts-photo">
    <a>PHOTO</a>
  </div>
  <div class="posts-search">
    <div>
      <input type="text" placeholder="SEACH">
      <a><img src="/images/search-ico.png"></a>
    </div>
  </div>
</div>
<div class="show-posts-box">
  <div class="post-item">
      <div class="post-title">
        <span>{{post.title}}</span>
      </div>
      <div class="post-text">
        <div class="post-inf">
          <div class="post-picture">
              <img class="image" ng-src="{{post.img.url}}">
          </div>
          <div class="post-content">
            <p>{{post.content}}</P>
          </div>
          <div class="post-time">
            <span>{{post.publish_time.substr(0,10)}}</span>
            <img src="/images/post-ico.png">
            <span>(<span>500</span>)</span>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="showpost-company-box">
  <div class="company">
    <img src="images/two-code.jpg">
    <p><a>学壹传媒有限公司</a></p>
    <p><a>联系电话</a></p>
    <p><a>微信</a></p>
    <p><a>邮箱</a></p>
  </div>
</div>
<div class="history-posts-box">
  <div class="history-posts">
    <div class="history-titile">
      <span>最近文章</span>
    </div>
    <div class="history-posts-item">
      <div class="history-posts-list">
        <ul>
          <li ng-repeat="ps in posts">
            <a ng-href="/#/posts/{{ps.id}}">{{ps.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
